@import url('https://fonts.googleapis.com/css?family=Neucha');

body {
    font-family: 'Reenie Beanie', cursive;
}

.hideme {
    /*display: none;*/
    /*visibility: hidden;*/
    position: static;
    border: 1px solid black;
    background-color: yellowgreen;
}

table, td {
    border:1px solid blue;
    text-align: center;
}

th {
    width:12%;
    border:1px solid #ddd;
}

td {
    border:1px solid #222;
    padding: 5px;
}

nav div {
    display: inline;
}

.nav a {
    text-decoration: none;
}

a:link {
    color:#ddd;
}

a:visited {
    color:green;
}

a:hover {
    background-color: white;
    color: black;
}

a:active {

}